NODE_ENV = development
PORT=7000
MONGO_URI=mongodb+srv://teo:8oFvLGDFE3ZjUXai@teocluster0.bxcudiu.mongodb.net/postshop?retryWrites=true&w=majority
PAYPAL_CLIENT_ID=
JWT_SECRET=YOUR_JWT_SECRET
PAGINATION_LIMIT = 8